:root { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 99vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: hsl(211, 78%, 60%);
    color: #000;
}

.sidebar > * {
    display: flex;
    align-items: center;
    gap: 10%;
    padding-left: 1.5rem;
}

.sidebar > div > img {
    height: 2.5rem;
    width: 2.5rem;
}

.sidebar > *:not(.dashboard) {
    padding-left: 2rem;
}

.community {
    padding-bottom: 3rem;
}

.dashboard {
    padding-bottom: 2rem;
}

.dashboard > img {
    height: 3.5rem;
    width: 3.5rem;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.top {
    display: flex;
    align-items: center;
}

.top > img {
    height: 2rem;
    width: 2rem;
    padding-left: 3rem;
    padding-right: 1.5rem;
}

.top > input {
    border-radius: 20px;
    height: 1.8rem;
    width: 50%;
    border: none;
    background-color: hsl(0 0% 90%);
    margin-right: 5rem;
}

.top > img[src="./icons/notification.svg"] {
    padding-right: 2.5rem;
}

.small-profile {
    background-color: gray;
    min-height: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 3rem;
    color: white;
}

.top > p {
    font-size: 1.4rem;
    font-weight: bold;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-content: center;
}

.big-profile {
    background-color: gray;
    max-height: 5.5rem;
    width: 5.5rem;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: .5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    align-items: center;
    align-content: center;
    justify-items: center;
    margin-right: 2rem;
    
}

.buttons > button {
    border-radius: 30px;
    border: none;
    color: white;
    background-color: hsl(211, 78%, 60%);
    font-size: 1.2rem;
    height: 3rem;
    width: 7rem;
}

.content {
    background-color: hsl(0, 0%, 90%);
    grid-area: content;
    display: grid;
    padding: 2rem;
    grid-template-rows: auto 1fr 1fr;
}

.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(350px, 2fr)) 1fr;
}

div.split {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    font-size: 1.5rem;
}

.announcements {
    grid-column: 3 / 4;
}

.projects > div {
    background-color: white;
    min-height: 12vh;
    min-width: 18vw;
    border-left: 10px solid orange;
    border-radius: 10px;
    display: grid;
    padding: 2rem 1rem 0 2rem;
    font-size: 1.2rem;
    gap: 1rem;
}

.card-images > img {
    max-width: 80%;
    height: auto;
}

.card-images {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    justify-content: end;
}

.announce-card {
    background-color: white;
    border-radius: 20px;
    grid-column: 3 / 4;
}