:root { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
    height: 99vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: hsl(211, 78%, 60%);
    color: #000;
}

.sidebar > * {
    display: flex;
    align-items: center;
    gap: 10%;
    padding-left: 1.5rem;
}

.sidebar > *:not(.dashboard) {
    padding-left: 2rem;
}

.community {
    padding-bottom: 3rem;
}

.dashboard {
    padding-bottom: 2rem;
}

.dashboard > img {
    height: 3.5rem;
    width: 3.5rem;
}

.header {
    background-color: white;
    grid-area: header;
    height: 80px;
}

.content {
    background-color: yellow;
    grid-area: content;
}

img {
    height: 40px;
    width: 40px;
}